# chapter 1. 정보와 변수
## 1) print() 사용하기
Q01

In [9]:
print(123456)

123456

Q02

In [10]:
print(123)
print(456)

123
456

Q03

In [11]:
print(123, 456)

123 456

Q04

In [12]:
print("파이썬을 배웁시다.")

파이썬을 배웁시다.

Q05

In [13]:
print("파이썬을 배웁시다.")
print("누구든 할 수 있습니다.")

파이썬을 배웁시다.
누구든 할 수 있습니다.

Q06

In [14]:
print("파이썬을 배웁시다.", "누구든 할 수 있습니다.")

파이썬을 배웁시다. 누구든 할 수 있습니다.

Q07

In [15]:
print(123)
print("올해는")
print("2022년입니다.")

123
올해는
2022년입니다.

Q08

In [17]:
print(123, "올해는", "2022년입니다.")

123 올해는 2022년입니다.

## 2) 숫자 다루기
Q01

In [19]:
print(123 + 5, 123 - 5, 123 * 5, 123 / 5)

128 118 615 24.6

Q02

In [20]:
print(172 // 13)

13

Q03

In [21]:
print(3854 // 11)

350

Q04

In [24]:
print(178 % 13)

9

Q05

In [25]:
print(3854 % 11)

4

Q06

In [26]:
print(563421 % 3 == 0)

True

Q07

In [27]:
print(2 ** 10)

1024

Q08

In [28]:
print(6 ** -3)

0.004629629629629629

Q09

In [29]:
print(652 > 87)

True

Q10

In [31]:
print(31 == 31.0)

True

Q11

In [32]:
print(24 != 24.0)

False

## 3) 문자 다루기
Q01

In [33]:
print("나는" + "너를...")

나는너를...

Q02

In [34]:
print("나는", "너를...")

나는 너를...

Q03

In [35]:
print('*' * 10)

**********

Q04

In [36]:
print("안녕하세요?" * 3, "반갑습니다!" * 2)

안녕하세요?안녕하세요?안녕하세요? 반갑습니다!반갑습니다!

Q05

In [38]:
print('a' < 'b')

True

Q06

In [39]:
print('a' > 'A')

True

Q07

In [41]:
print("가" < "나")

True

Q08

In [42]:
print("abc" == "ABC")

False

Q09

In [43]:
print("가나다" != "ABC")

True

## 4) 변수
Q01

In [44]:
v1, v2 = 48, "이희성"
print(v1)
print(v2)

48
이희성

Q02

In [45]:
a, b = 32, 64
print(a * b)

2048

Q03

In [46]:
a, b = 32, 64
c, d = a + b, a * b
print(c < d)

True

Q04

In [47]:
e, f = 14, "안녕하세요?"
print(e * f)

안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?안녕하세요?

Q05

In [49]:
g = 1
g = g + 1
print(g)

2

Q06

In [50]:
h = 2
h = h * 2
print(h)

4

Q07

In [51]:
i = 6
i = i ** 2
print(i)

36

Q08

In [64]:
kor, math, eng = 96, 72, 88
avg = (kor + math + eng) / 3
print("이희성의 평균 점수는", "%.1f" % avg)

이희성의 평균 점수는 85.3

# chapter 2. 흐름제어 ① 조건
## 1) bool 연산자
Q01

In [1]:
print('a' == 'A' or 10 == 10.0)

True

Q02

In [2]:
print(20 == 20.0 and "123" == "일이삼")

False

Q03

In [3]:
a, b = 2, 3
print(a > b and a % b < 2)

False

Q04

In [4]:
c, d = 4, 5
print(c + d > c ** 2 or c * d % 2 == 0)

True

Q05

In [5]:
v1, v2, v3 = 1, 2, 3
print(v1 % v2 % 2 == 0 and (v2 + v3) % 2 == 1)

False

## 2) if
Q01

In [6]:
score = 86
if not score < 90:
    print("pass")

Q02

In [7]:
age = 29
if age < 10:
    print("10세 미만")
elif age < 20:
    print("10대")
elif age < 30:
    print("20대")
elif age < 40:
    print("30대")
elif age < 50:
    print("40대")
else:
    print("50대 이상")

20대

Q03

In [8]:
score = 80
if not score < 90:
    print('A')
elif not score < 80:
    print('B')
elif not score < 70:
    print('C')
elif not score < 60:
    print('D')
else:
    print('F')

B

Q04

In [9]:
score1, score2, score3 = 48, 96, 77
if score1 < 70 or score2 < 70 or score3 < 70 or not (score1 + score2 + score3) / 3 > 75:
    print('fail')
else:
    print('pass')

fail

Q05

In [10]:
num1 = 30
if num1 % 11 == 0:
    print("11의 배수입니다.")
else:
    print("11의 배수가 아닙니다.")

11의 배수가 아닙니다.

Q06

In [11]:
num1, num2 = map(int, input().split())
if num1 > num2:
    print(num2, num1)
else:
    print(num1, num2)

1 13
1 13

Q07

In [12]:
num = int(input())
if num == 1:
    print("잘 했어요!")
elif num == 2:
    print("정답")
elif num == 3:
    print("맞췄어요")
else:
    print("틀렸어요")

2
정답

Q08

In [13]:
purchase = int(input())
grade = ""
n = 0
if not purchase < 30:
    grade = "VIP"
    n = 10
elif not purchase < 15:
    grade = "S"
    n = 5
elif not purchase < 5:
    grade = "A"
    n = 2
else:
    grade = "Family"
    n = 0
print(purchase, grade, end = " ")
if grade == "Family":
    print("쿠폰 지급 없음")
else:
    print(str(n) + "% 할인 쿠폰 지급")

15
15 S 5% 할인 쿠폰 지급

## 1) range()
Q01

In [1]:
print(list(range(0, 21)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Q02

In [2]:
print(list(range(1, 22)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

Q03

In [3]:
print(list(range(5, 101, 5)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

Q04

In [4]:
print(list(range(3, 61, 4)))

[3, 7, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47, 51, 55, 59]

Q05

In [5]:
print(list(range(200, 9, -10)))

[200, 190, 180, 170, 160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

Q06

In [6]:
print(list(range(160, 29, -10)))

[160, 150, 140, 130, 120, 110, 100, 90, 80, 70, 60, 50, 40, 30]

Q07

In [7]:
print(list(range(-2, -11, -1)))

[-2, -3, -4, -5, -6, -7, -8, -9, -10]

Q08

In [8]:
print(list(range(5, -15, -3)))

[5, 2, -1, -4, -7, -10, -13]

## 2) for loop
Q01

In [9]:
for i in range(0, 6):
    print(i)

0
1
2
3
4
5

Q02

In [10]:
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

Q03

In [11]:
for i in range(1,6):
    print(' ' * (5 - i) + '*' * i)

    *
   **
  ***
 ****
*****

Q04

In [12]:
for i in range(1, 6):
    s = '%'
    if i % 2 == 1:
        s = '*'
    print(s * i)

*
%%
***
%%%%
*****

Q05

In [13]:
answer = 0
for i in range(1, 101):
    answer += i
print(answer)

5050

Q06

In [14]:
answer = 0
for i in range(1, 101, 2):
    answer += i
print(answer)

2500

Q07

In [15]:
answer = 0
for i in range(12, 501, 12):
    answer += i
print(answer)

10332

Q08

In [16]:
answer = 0
for i in range(1, 101):
    if i % 2 == 0:
        answer -= i
    else:
        answer += i
print(answer)

-50

Q09

In [17]:
num = int(input())
name = input()
print(num * name)

3
내이름
내이름내이름내이름

Q10

In [18]:
name = input()
for i in name:
    print(i)

테스트이름
테
스
트
이
름

Q011

In [19]:
num = int(input())
name = input()
if num < 10:
    print(num * name)
else:
    print("너무 많아요" * 4)

3
ㅇㅇ
ㅇㅇㅇㅇㅇㅇ

Q012

In [20]:
for i in range(2, 10):
    print("구구단", i, "단을 출력합니다.")
    for j in range(1, 10):
        print(i, "*", j, "=", i*j)
    print("\=========")

구구단 2 단을 출력합니다.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
\=========
구구단 3 단을 출력합니다.
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
\=========
구구단 4 단을 출력합니다.
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
\=========
구구단 5 단을 출력합니다.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
\=========
구구단 6 단을 출력합니다.
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
\=========
구구단 7 단을 출력합니다.
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
\=========
구구단 8 단을 출력합니다.
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
\=========
구구단 9 단을 출력합니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
\=========

Q013

In [22]:
n = int(input())
for i in range(n, 10):
    print("구구단", i, "단을 출력합니다.")
    for j in range(1, 10):
        print(i, "*", j, "=", i*j)
    print("\=========")

9
구구단 9 단을 출력합니다.
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
\=========

Q014

In [26]:
s = input()
n = int(input())
if s == "up":
    for i in range(1, n+1):
        print(i)
elif s == "down":
    for i in range(20, n-1):
        print(i)
else:
    print("틀렸어요")

up
3
1
2
3

## 3) while loop
Q01

In [27]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

Q02

In [28]:
i = 1
while i < 6:
    s = "%"
    if i % 2 == 1:
        s = "*"
    print(s * i)
    i += 1

*
%%
***
%%%%
*****

Q03

In [29]:
i = 1
answer = 0
while i < 101:
    if i % 3 == 0:
        answer += i
    i += 1
print(answer)

1683

Q04

In [30]:
num = int(input())
sentence = input()
i = 0
while i < num:
    print(sentence)
    i += 1

3
test
test
test
test

Q05

In [39]:
while ("라영철" != input("이름을 입력하세요 >> ")):
    1
print("환영합니다!")

이름을 입력하세요 >> 김희성
이름을 입력하세요 >> 라영철
환영합니다!

Q06

In [33]:
total = 0
while not total > 50:
    total += int(input("숫자를 입력하세요 >> "))
    print("total value는 %d 이다." % total)

숫자를 입력하세요 >> 30
total value는 30 이다.
숫자를 입력하세요 >> 20
total value는 50 이다.
숫자를 입력하세요 >> 1
total value는 51 이다.

Q07

In [35]:
kor, math, eng = 96, 72, 88
while (True):
    t = input("과목명을 입력하세요 >> ")
    if t == "국어":
        print(kor)
        break
    elif t == "수학":
        print(math)
        break
    elif t == "영어":
        print(eng)
        break
    else:
        print("잘못 입력하셨습니다.")

과목명을 입력하세요 >> 국어
96

Q08

In [40]:
input_n = int(input())
i = 0
while True:
    i += 1
    think_n = int(input("숫자를 입력하세요 >> "))
    if input_n == think_n:
        print("잘 했어요!", i, "번만에 맞추셨네요")
        break
    elif think_n < input_n:
        print("작아요")
    else:
        print("커요")

14
숫자를 입력하세요 >> 1
작아요
숫자를 입력하세요 >> 2
작아요
숫자를 입력하세요 >> 3
작아요
숫자를 입력하세요 >> 4
작아요
숫자를 입력하세요 >> 14
잘 했어요! 5 번만에 맞추셨네요

Q09

In [41]:
money, coffee = 5000, 1300
while not money < 1300:
    t = input("아메리카노를 구입하시겠습니까? > ")
    if (t == "네"):
        money -= 1300
    else:
        print("다시 입력해 주세요.")

print("돈이 모자랍니다. 커피를 구입할 수 없습니다.")

아메리카노를 구입하시겠습니까? > 네
아메리카노를 구입하시겠습니까? > 네
아메리카노를 구입하시겠습니까? > 네
돈이 모자랍니다. 커피를 구입할 수 없습니다.