# chapter 4. 리스트(List)
## 1) 리스트 생성하기
Q01

In [1]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

Q02

In [3]:
b = ['ab', 'cd', 'ef']
print(b)

['ab', 'cd', 'ef']

Q03

In [7]:
c = [123, 'ab', 45, 'cde']
print(c)

[123, 'ab', 45, 'cde']

Q04

In [8]:
list_a = [1, 3, 5, 7, 9]
list_b = [1, 'a', 3, 'b']
print(list_a, list_b)

[1, 3, 5, 7, 9] [1, 'a', 3, 'b']

Q05

In [9]:
d = list(range(0,21))
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Q06

In [11]:
list_c = list(range(1, 20, 3))
print(list_c)

[1, 4, 7, 10, 13, 16, 19]

Q07

In [12]:
list_d = [1, 2, 3]
list_e = [list_d, 4, 5]
print(list_e)

[[1, 2, 3], 4, 5]

Q08

In [13]:
list1 = [1, 3, 'hello']
list2 = [list1, 'happy', 2, 4]
print(list2)

[[1, 3, 'hello'], 'happy', 2, 4]

## 2) 리스트 사용하기
Q01

In [14]:
list1 = [1, 2, 3, 4, 5]
print(list1[0], list1[-1])

1 5

Q02

In [15]:
a = [23, 3, 16, 45, 11]
print(a[0], a[3])
print(a[-1], a[-4])

23 45
11 3

Q03

In [18]:
a = [23, 3, 16, 45 ,11]
print(a[:3])

[23, 3, 16]

Q04

In [19]:
a = [23, 3, 16, 45, 11]
print(a[2:])

[16, 45, 11]

Q05

In [21]:
a = [23, 3, 16, 45, 11]
print(a[:3], a[0:3], a[2:4], a[2:])
print(a[-3:-1], a[-4:-1], a[-3:], a[-5:-4])

[23, 3, 16] [23, 3, 16] [16, 45] [16, 45, 11]
[16, 45] [3, 16, 45] [16, 45, 11] [23]

## 3) 리스트 수정하기
Q01

In [22]:
list = []
print(list)
list.append(99)
print(list)

[]
[99]

Q02

In [23]:
a = [23, 3, 16, 45, 11]
a.append(99)
b = [100]
print(a + b)

[23, 3, 16, 45, 11, 99, 100]

Q03

In [25]:
list1 = [1, 3, 5, 7]
list2 = [list1, 2, 4, 8]
list2.append(list1[1])
print(list2)

[[1, 3, 5, 7], 2, 4, 8, 3]

Q04

In [26]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list1 += list2
print(list1)

[1, 3, 5, 7, 2, 4, 8]

Q05

In [27]:
a = [23, 3, 16, 45, 11]
print(a[1])
a[1] = 300
print(a[1])

3
300

Q06

In [28]:
a = [23, 3, 16, 45, 11]
print(a[-1])
a[-1] *= 2
print(a[-1])

11
22

Q07

In [29]:
a = [23, 3, 16, 45, 11]
del a[1]
print(a)

[23, 16, 45, 11]

## 4) 리스트에 사용하는  함수 (len, sum, type)
Q01

In [2]:
list2 = list(range(1, 21, 3))
print(len(list2))

7

Q02

In [3]:
list3 = ['python', 'is', 'funny']
print(len(list3))

3

Q03

In [4]:
list1 = list(range(0, 101, 7))
print(sum(list1))

735

Q04

In [5]:
list1 = [10, 20, 30, 40, 50]
print(type(list1))

<class 'list'>

Q05

In [6]:
num = [10, 21, 34, 47, 53]
print(sum(num) / len(num))

33.0

## 5) 리스트에 사용하는 메서드 (append, insert, remove, sort)
Q01

In [8]:
list1 = [10, 20, 30, 40, 50]
list1.append(60)
print(list1)

[10, 20, 30, 40, 50, 60]

Q02

In [10]:
list3 = ['python', 'is', 'funny']
list3.append('~')
list3.append('!')
print(list3)

['python', 'is', 'funny', '~', '!']

Q03

In [13]:
list1 = [10, 20, 30, 40, 50]
list1.insert(2, 60)
print(list1)

[10, 20, 60, 30, 40, 50]

Q04

In [14]:
list3 = ['python', 'is', 'funny']
for i in range(3):
    list3.append('very')
print(list3)

['python', 'is', 'funny', 'very', 'very', 'very']

Q05

In [16]:
list1 = [10, 20, 30, 40, 50]
list1.remove(30)
print(list1)

[10, 20, 40, 50]

Q06

In [17]:
list2 = list(range(1, 21, 3))
print(list2)
del list2[-3]
print(list2)

[1, 4, 7, 10, 13, 16, 19]
[1, 4, 7, 10, 16, 19]

Q07

In [18]:
a = [1, 4, 3, 2]
a.sort()
print(a)

[1, 2, 3, 4]

Q08

In [19]:
b = ['c', 'a', 'b', 'd']
b.sort(reverse = True)
print(b)

['d', 'c', 'b', 'a']

Q09

In [20]:
sports = ['주짓수', '무에타이']
sports.append(input("좋아하는 스포츠를 입력하세요"))
sports.sort()
print(sports)

좋아하는 스포츠를 입력하세요야구
['무에타이', '야구', '주짓수']

Q10

In [22]:
subjects = ['국어', '영어', '수학', '한국사', '물리', '화학']
subjects.remove(input("싫어하는 과목을 입력하세요"))
print(subjects)

싫어하는 과목을 입력하세요한국사
['국어', '영어', '수학', '물리', '화학']

## 6) 리스트와 for loop
Q01

In [24]:
animal = ['사자', '코끼리', '하마', '기린', '얼룩말']
for i in animal:
    print(i)

사자
코끼리
하마
기린
얼룩말

Q02

In [25]:
dizney = ['인어공주', '알라딘', '겨울왕국', '라푼젤']
dizney.append('라이언킹')
for i in dizney:
    print(i)

인어공주
알라딘
겨울왕국
라푼젤
라이언킹

Q03

In [27]:
multiple7 = list(i for i in range(1,100) if (i % 7 == 0))
print(multiple7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

Q04

In [28]:
my_list = list()
for i in range(5):
    my_list.append(int(input("값을 입력하세요")))
my_list.sort()
print(my_list)

값을 입력하세요1
값을 입력하세요2
값을 입력하세요3
값을 입력하세요45
값을 입력하세요2
[1, 2, 2, 3, 45]

Q05

In [29]:
odd, even = [], []
for i in range(10):
    n = int(input("숫자를 입력하세요"))
    if n % 2 == 0:
        even.append(n)
    else:
        odd.append(n)
print(odd, even)

숫자를 입력하세요1
숫자를 입력하세요2
숫자를 입력하세요3
숫자를 입력하세요4
숫자를 입력하세요5
숫자를 입력하세요6
숫자를 입력하세요6
숫자를 입력하세요87
숫자를 입력하세요8
숫자를 입력하세요5
[1, 3, 5, 87, 5] [2, 4, 6, 6, 8]

# chapter 5. 딕셔너리(Dictionary)
## 1) 딕셔너리 생성
Q01.

In [30]:
dict_a = { 'v1':32, 'l1':[1,2,3], 'd1':{'a':1,'b':2}}
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

Q02

In [31]:
dict_b = { '이름':'이희성', '나이':38, '전공':'기계공학', '사용 언어': ['기계어', '어셈블리어', 'C++']}
print(dict_b)

{'이름': '이희성', '나이': 38, '전공': '기계공학', '사용 언어': ['기계어', '어셈블리어', 'C++']}

## 2) 딕셔너리 조회
Q01

In [33]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
print(dict_a['v1'])
print('==============================')
print(dict_a['l1'])
print(dict_a['l1'][:2])
print('==============================')
print(dict_a['d1'])
print(dict_a['d1']['a'])

32
==============================
[1, 2, 3]
[1, 2]
==============================
{'a': 1, 'b': 2}
1

Q02

In [37]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
print(dict_a.keys())
print(dict_a.values())
print(dict_a.items())

dict_keys(['v1', 'l1', 'd1'])
dict_values([32, [1, 2, 3], {'a': 1, 'b': 2}])
dict_items([('v1', 32), ('l1', [1, 2, 3]), ('d1', {'a': 1, 'b': 2})])

## 3) 여러 개의 값 한꺼번에 할당하기
Q01

In [38]:
animals = ['사자', '코끼리', '하마']
a1, a2, a3 = animals
print(a1, a2, a3)

사자 코끼리 하마

Q02

In [39]:
movies = ['인어공주', '알라딘', '겨울왕국', '라푼젤']
m1, m2, m3, m4 = movies
print(m1, m2, m3, m4)

인어공주 알라딘 겨울왕국 라푼젤

Q03

In [43]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
i1, i2, i3 = dict_a.values()
print(i2, i3)
print(i2[-1])
print(i3['b'])

[1, 2, 3] {'a': 1, 'b': 2}
3
2

## 4) 딕셔너리 수정
Q01

In [44]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
dict_a['v2'] = 500
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 500}

Q02

In [45]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
del dict_a['v1']
print(dict_a)

{'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

## 5) 딕셔너리 키와 값 존재 유무 파악하기

In [48]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
if 'v1' in dict_a:
    print(dict_a['v1'])
print(dict_a.get('v2', 0))

32
0

## 6) 딕셔너리와 for loop
Q01

In [49]:
dict_a = {'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}
for i in dict_a.items():
    print(i)

('v1', 32)
('l1', [1, 2, 3])
('d1', {'a': 1, 'b': 2})

Q02

In [55]:
icecream = {'메로나':[400, 380], '비비빅': [400, 350], '탱크보이': [500, 450], '월드콘': [1000, 900]}
date = input("요일을 입력하세요 ex) 월")
n = 0
if date in ['토', '일']:
    n = 1
for i in icecream:
    print(i, icecream[i][n])

요일을 입력하세요 ex) 월일
메로나 380
비비빅 350
탱크보이 450
월드콘 900

Q03

In [71]:
lyrics = '''
I was born to love you
With every single beat of my heart
Yes, I was born to take care of you, ha
Every single day
Alright, hey hey
I was born to love you
With every single beat of my heart
Yes, I was born to take care of you
Every single day of my life
'''
lyrics = lyrics.replace('\n', ' ')
lyrics = lyrics.replace(',', '')
lyrics = lyrics.lower()
lyrics = lyrics.split()
word_dict = {}
for word in lyrics:
    word_dict[word] = word_dict.get(word, 0) + 1

print(word_dict)

{'i': 4, 'was': 4, 'born': 4, 'to': 4, 'love': 2, 'you': 4, 'with': 2, 'every': 4, 'single': 4, 'beat': 2, 'of': 5, 'my': 3, 'heart': 2, 'yes': 2, 'take': 2, 'care': 2, 'ha': 1, 'day': 2, 'alright': 1, 'hey': 2, 'life': 1}

# chaper 6. 함수 만들기
## 1) 함수 만들기 - input
Q01

In [74]:
def hello_world(name):
    print('Hello ' + name + ', welcome to Python World!')

hello_world('Ann')

Hello Ann, welcome to Python World!

Q02

In [76]:
def say_hey(count):
    print('Hey! ' * count)

say_hey(5)

Hey! Hey! Hey! Hey! Hey!

Q03

In [77]:
def hello(name, loud = 1):
    if loud == 1:
        print("HELLO " + name + "!!!")
    else:
        print("Hello " + name + ".")

hello(name = 'Kim', loud = 0)
hello(name = 'Kim')

Hello Kim.
HELLO Kim!!!

Q04

In [79]:

def add(a, b):
    print("덧셈 결과는", a + b)

add(7, 2)

덧셈 결과는 9

Q05

In [80]:
def numbers(*nums):
    print(nums)

numbers(2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

Q06

In [81]:
def average(*nums):
    print(sum(nums) / len(nums))

average(2, 4, 6, 8, 10)

6.0

## 2) 함수 만들기 - output
Q01

In [84]:
def calculate1(a, b, o):
    if b == 0 and o == '/':
        print('다시 입력하세요')
    print(eval(str(a) + o + str(b)))

calculate1(11, 2, '*')

22

Q02

In [85]:
def calculate1(a, b, o):
    if b == 0 and o == '/':
        print('다시 입력하세요')
    print(eval(str(a) + o + str(b)))

c = calculate1(11, 2, '*')
print(c)

22
None

Q03

In [86]:
def calculate1(a, b, o):
    if b == 0 and o == '/':
        print('다시 입력하세요')
    return eval(str(a) + o + str(b))

c = calculate1(11, 2, '*')
print(c)

22

Q04

In [88]:
def calculate2(r1, r2):
    return divmod(r1, r2)

r1, r2 = calculate2(11, 2)
print(r1, r2)

5 1

Q05

In [90]:
def even(arr):
    result = []
    for i in arr:
        if i % 2 == 0:
            result.append(i)
    return result

even([2, 3, 6, 8, 11])

[2, 6, 8]

## 3) 함수 만들기 - 예외처리
Q01

In [99]:
def divide(num1, num2):
    return num1 / num2

divide(5, 3)

1.6666666666666667

Q02

In [95]:
def divide(num1, num2):
    try:
        return num1 / num2
    except:
        return "0으로 나눌 수 없습니다."
        

print(divide(5, 3))
print(divide(5, 0))

1.6666666666666667
0으로 나눌 수 업습니다.

Q03

In [100]:
def divide(num1, num2):
    try:
        return num1 / num2
    except ZeroDivisionError:
        return "0으로 나눌 수 없습니다."
    except TypeError:
        return "입력값이 모두 숫자여야 합니다."
        

print(divide(5, 3))
print(divide(5, 0))
print(divide(10, 'a'))

1.6666666666666667
0으로 나눌 수 없습니다.
입력값이 모두 숫자여야 합니다.

Q04

In [104]:
def even(arr):
    try:
        result = []
        for i in arr:
            if i % 2 == 0:
                result.append(i)
        return result
    except TypeError:
        return "리스트 형태로 입력하세요"

print(even([2, 3, 6, 8, 11]))
print(even(1))

[2, 6, 8]
리스트 형태로 입력하세요